node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env*
!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
*.log

/generated/prisma
/generated
docs/plans

scripts/migration-id-map.json

# Local Netlify folder
.netlify

# eslint
.eslintcache
